
<script>
// v3.1.0
//Docs at http://simpleweatherjs.com
$(function(){
  var simWeather = (zip, FC)=>{
  $.simpleWeather({
    location: zip,
    woeid: '',
    unit: FC,
    success: function(weather) {
      //html = '<h5><i class="wi wi-yahoo-'+weather.code+'"> '+weather.temp+'&deg;'+weather.units.temp+'</h5>';
      html = '<span class=" h5 navbar-text m-0 p-0"><i id="weatherIcon" class="h2 wi wi-yahoo-' + weather.code + '"></i>    '+weather.temp+'&deg;'+weather.units.temp+'</span>'


    //  html += weather.city;
      //html += '<li class="currently">'+weather.currently+'</li></ul>';
    //  html += '<li>'+weather.wind.direction+' '+weather.wind.speed+' '+weather.units.speed+'</li></ul>';

      $("#weather").html(html)
      $("#weatherAlert").alert('close');

      //$("nav").append('<span class="navbar-text p-0" id="weather">'+html+'</span>');

    },
    error: function(error) {
      console.log(error);
      $("#warnings").html('<div id="weatherAlert" class="alert alert-dismissible alert-danger">'+
            '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
            '<strong>ERROR:  </strong>'+error+'</div>');
    }
  });
}
simWeather("95320","f")
setInterval(()=>{simWeather("95320","f");},30000)
});

</script>


<nav class="navbar fixed-top navbar-expand-sm navbar-<%= navbarColor %> bg-<%- bgColor %>">
        <a class="navbar-brand" href="/#"><%= siteTitle %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
            <a class="nav-link<% if (heading === 'home'){%> active <% } %>" href="/">Main</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link<% if (heading === 'Controls'){%> active <% } %>" href="/controls">Controls</a>
          </li>
          <li class="nav-item">
            <a class="nav-link<% if (heading === 'Schedules'){%> active <% } %>" href="/schedules">Schedules</a>
          </li>
        <li class="nav-item">
            <a class="nav-link <% if (heading === 'Devices'){%> active <% } %>" href="/devices">Devices</a>
          </li>
      </div>
      <span class="navbar-text p-0" id="weather"></span>
</nav>
