<div class="col-12 col-md-8">
  <div class="card border-primary mb-3" style="max-width: 40rem;">
    <div class="card-header text-center">
      <span class="h4"><%= city %></span>
    </div>
    <div class="card-body text-center">
      <i id="weatherIcon" class="display-3 wi wi-yahoo-<%= weatherCode %>"></i>
      <span class="display-2"> <%=weatherTemp %>&deg;<span class="h5"><%= weatherUnit %></span></span>
    </div>

  </div>
</div>
