<div class="col-sm-12 col-md-6 col-lg-4">
  <div id="card<%= item.gpin %>" class="card text-white mb-3" data-pin="<%= item.gpin %>" style="max-width: 20rem;">
      <div class="card-header"> <%= item.name %>
          <span class="badge badge-light float-right" ><%= item.type %></span>
          <span class="onoff badge float-right "></span>
      </div>
      <div class="card-body">
        <p class="card-text"></p>
      </div>
  </div>
</div>
