<div class="col-6 col-sm-4 col-md-3 mx-auto ">
      <button id="btn<%= item.gpin %>" class="btn btn-secondary btn-sq-md border-danger mb-3" data-pinstate="false" data-pin="<%=item.gpin %>" data-type="<%= item.type %>">
        <h6 class="d-block m-2"><%= item.name %></h6>
        <i class="fas fa-power-off fa-3x text-danger "></i>
        <span class="d-block text-danger mt-1">OFF</span>
      </button>
</div>
